In [211]:
import pandas as pd
import numpy as np
import pandas_ta as ta

In [212]:
data =  pd.read_csv('nifty_200/5M/ABCAPITAL.csv')

In [213]:
data['Datetime'] = pd.to_datetime(data['Datetime'])
data.set_index('Datetime',inplace=True)

In [214]:

def calculate_macd(data, fast, slow, signal):
    data['MACD_F'] = data.ta.macd(fast=fast, slow=slow, signal=signal)[f'MACD_{fast}_{slow}_{signal}']
    data['MACD_S'] = data.ta.macd(fast=fast, slow=slow, signal=signal)[f'MACDs_{fast}_{slow}_{signal}']
    data['MACD_H'] = data.ta.macd(fast=fast, slow=slow, signal=signal)[f'MACDh_{fast}_{slow}_{signal}']
    return data

In [215]:
def custom_resample(df, start='09:15', end='15:30', freq='1f'):
    df = df.between_time(start, end)
    return df.resample(freq, offset='0h15min').agg(
        {
            'Open': 'first',
            'High': 'max',
            'Low': 'min',
            'Close': 'last',
            'Volume': 'sum',
        }
    )

In [216]:
df_1Hr = custom_resample(data, start='09:15', end='15:30', freq='1h')

In [217]:
df_1Hr.dropna(inplace=True)

In [218]:
df_1Hr.tail(18)

                       Open    High     Low   Close   Volume
Datetime
2024-08-07 12:15:00  205.36  206.50  205.16  206.35   498668
2024-08-07 13:15:00  206.40  209.50  205.64  209.47   760892
2024-08-07 14:15:00  209.47  212.69  209.00  211.60  2051325
2024-08-07 15:15:00  211.79  211.90  211.00  211.60   290297
2024-08-08 09:15:00  209.75  212.49  208.60  211.55   716389
2024-08-08 10:15:00  211.53  212.36  211.01  212.09   426030
2024-08-08 11:15:00  212.14  213.00  211.50  212.50   435593
2024-08-08 12:15:00  212.58  213.09  211.42  212.77   369959
2024-08-08 13:15:00  212.77  214.15  212.21  213.19   792274
2024-08-08 14:15:00  213.20  213.70  210.52  210.98   505179
2024-08-08 15:15:00  210.97  210.97  209.05  210.20   318143
2024-08-09 09:15:00  212.60  213.78  210.50  210.88   510033
2024-08-09 10:15:00  210.87  211.79  210.00  211.01   209342
2024-08-09 11:15:00  211.01  212.96  210.59  212.94   280565
2024-08-09 12:15:00  212.94  212.95  211.65  212.28   413138
2024-08-09 13:15:00  212.28  213.50  212.28  213.15   359797
2024-08-09 14:15:00  213.15  213.36  211.80  211.92   276357
2024-08-09 15:15:00  211.83  212.00  210.80  211.25   181452

In [219]:
df_15M = custom_resample(data,freq='15min')

In [220]:
df_15M.dropna(inplace=True)

In [221]:
df_15M.tail(20)

                       Open    High     Low   Close  Volume
Datetime
2024-08-09 10:30:00  210.30  210.75  210.19  210.40   20260
2024-08-09 10:45:00  210.55  211.11  210.13  210.74   24434
2024-08-09 11:00:00  210.74  211.79  210.31  211.01   81384
2024-08-09 11:15:00  211.01  211.20  210.70  210.76   17929
2024-08-09 11:30:00  210.75  210.97  210.61  210.61   16089
2024-08-09 11:45:00  210.61  212.54  210.59  212.50  150396
2024-08-09 12:00:00  212.57  212.96  211.77  212.94   96151
2024-08-09 12:15:00  212.94  212.95  211.90  212.25  163998
2024-08-09 12:30:00  212.25  212.59  211.95  212.50   39923
2024-08-09 12:45:00  212.50  212.75  212.02  212.20  135453
2024-08-09 13:00:00  212.20  212.40  211.65  212.28   73764
2024-08-09 13:15:00  212.28  213.50  212.28  213.01  154550
2024-08-09 13:30:00  213.10  213.50  213.01  213.43   78967
2024-08-09 13:45:00  213.50  213.50  213.00  213.19   64046
2024-08-09 14:00:00  213.20  213.47  213.07  213.15   62234
2024-08-09 14:15:00  213.15  213.36  212.21  212.61   50647
2024-08-09 14:30:00  212.61  212.66  212.08  212.36   47337
2024-08-09 14:45:00  212.36  212.90  212.23  212.84   67107
2024-08-09 15:00:00  212.84  212.84  211.80  211.92  111266
2024-08-09 15:15:00  211.83  212.00  210.80  211.25  181452

In [222]:
def calculate_pivot_levels(high, low, close):
    pp = (high + low + close) / 3
    tc = (pp + high) / 2
    bc = (pp + low) / 2
    r1 = 2 * pp - low
    r2 = pp + (high - low)
    r3 = high + 2 * (pp - low)
    s1 = 2 * pp - high
    s2 = pp - (high - low)
    s3 = low - 2 * (high - pp)
    
    return pp, tc, bc, r1, r2, r3, s1, s2, s3

In [223]:
def apply_pivots(df):
    # Shift OHLC columns to get yesterday's data
    df['Prev_High'] = df['High'].shift(1)
    df['Prev_Low'] = df['Low'].shift(1)
    df['Prev_Close'] = df['Close'].shift(1)

    # Apply the function to calculate pivot levels using yesterday's data
    df[['PP', 'TC', 'BC', 'R1', 'R2', 'R3', 'S1', 'S2', 'S3']] = df.apply(
        lambda row: calculate_pivot_levels(row['Prev_High'], row['Prev_Low'], row['Prev_Close']), 
        axis=1, 
        result_type='expand'
    )
    return df

Help on method resample in module pandas.core.generic:

resample(rule, axis: 'Axis | lib.NoDefault' = <no_default>, closed: "Literal['right', 'left'] | None" = None, label: "Literal['right', 'left'] | None" = None, convention: "Literal['start', 'end', 's', 'e'] | lib.NoDefault" = <no_default>, kind: "Literal['timestamp', 'period'] | None | lib.NoDefault" = <no_default>, on: 'Level | None' = None, level: 'Level | None' = None, origin: 'str | TimestampConvertibleTypes' = 'start_day', offset: 'TimedeltaConvertibleTypes | None' = None, group_keys: 'bool_t' = False) -> 'Resampler' method of pandas.core.frame.DataFrame instance
    Resample time-series data.

    Convenience method for frequency conversion and resampling of time series.
    The object must have a datetime-like index (`DatetimeIndex`, `PeriodIndex`,
    or `TimedeltaIndex`), or the caller must pass the label of a datetime-like
    series/index to the ``on``/``level`` keyword parameter.

    Parameters
    ----------
    rule : DateOffset, Timedelta or str
        The offset string or object representing target conversion.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Which axis to use for up- or down-sampling. For `Series` this parameter
        is unused and defaults to 0. Must be
        `DatetimeIndex`, `TimedeltaIndex` or `PeriodIndex`.

        .. deprecated:: 2.0.0
            Use frame.T.resample(...) instead.
    closed : {'right', 'left'}, default None
        Which side of bin interval is closed. The default is 'left'
        for all frequency offsets except for 'ME', 'YE', 'QE', 'BME',
        'BA', 'BQE', and 'W' which all have a default of 'right'.
    label : {'right', 'left'}, default None
        Which bin edge label to label bucket with. The default is 'left'
        for all frequency offsets except for 'ME', 'YE', 'QE', 'BME',
        'BA', 'BQE', and 'W' which all have a default of 'right'.
    convention : {'start', 'end', 's', 'e'}, default 'start'
        For `PeriodIndex` only, controls whether to use the start or
        end of `rule`.

        .. deprecated:: 2.2.0
            Convert PeriodIndex to DatetimeIndex before resampling instead.
    kind : {'timestamp', 'period'}, optional, default None
        Pass 'timestamp' to convert the resulting index to a
        `DateTimeIndex` or 'period' to convert it to a `PeriodIndex`.
        By default the input representation is retained.

        .. deprecated:: 2.2.0
            Convert index to desired type explicitly instead.

    on : str, optional
        For a DataFrame, column to use instead of index for resampling.
        Column must be datetime-like.
    level : str or int, optional
        For a MultiIndex, level (name or number) to use for
        resampling. `level` must be datetime-like.
    origin : Timestamp or str, default 'start_day'
        The timestamp on which to adjust the grouping. The timezone of origin
        must match the timezone of the index.
        If string, must be one of the following:

        - 'epoch': `origin` is 1970-01-01
        - 'start': `origin` is the first value of the timeseries
        - 'start_day': `origin` is the first day at midnight of the timeseries

        - 'end': `origin` is the last value of the timeseries
        - 'end_day': `origin` is the ceiling midnight of the last day

        .. versionadded:: 1.3.0

        .. note::

            Only takes effect for Tick-frequencies (i.e. fixed frequencies like
            days, hours, and minutes, rather than months or quarters).
    offset : Timedelta or str, default is None
        An offset timedelta added to the origin.

    group_keys : bool, default False
        Whether to include the group keys in the result index when using
        ``.apply()`` on the resampled object.

        .. versionadded:: 1.5.0

            Not specifying ``group_keys`` will retain values-dependent behavior
            from pandas 1.4 and earlier (see :ref:`pandas 1.5.0 Release notes
            <whatsnew_150.enhancements.resample_group_keys>` for examples).

        .. versionchanged:: 2.0.0

            ``group_keys`` now defaults to ``False``.

    Returns
    -------
    pandas.api.typing.Resampler
        :class:`~pandas.core.Resampler` object.

    See Also
    --------
    Series.resample : Resample a Series.
    DataFrame.resample : Resample a DataFrame.
    groupby : Group Series/DataFrame by mapping, function, label, or list of labels.
    asfreq : Reindex a Series/DataFrame with the given frequency without grouping.

    Notes
    -----
    See the `user guide
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#resampling>`__
    for more.

    To learn more about the offset strings, please see `this link
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects>`__.

    Examples
    --------
    Start by creating a series with 9 one minute timestamps.

    >>> index = pd.date_range('1/1/2000', periods=9, freq='min')
    >>> series = pd.Series(range(9), index=index)
    >>> series
    2000-01-01 00:00:00    0
    2000-01-01 00:01:00    1
    2000-01-01 00:02:00    2
    2000-01-01 00:03:00    3
    2000-01-01 00:04:00    4
    2000-01-01 00:05:00    5
    2000-01-01 00:06:00    6
    2000-01-01 00:07:00    7
    2000-01-01 00:08:00    8
    Freq: min, dtype: int64

    Downsample the series into 3 minute bins and sum the values
    of the timestamps falling into a bin.

    >>> series.resample('3min').sum()
    2000-01-01 00:00:00     3
    2000-01-01 00:03:00    12
    2000-01-01 00:06:00    21
    Freq: 3min, dtype: int64

    Downsample the series into 3 minute bins as above, but label each
    bin using the right edge instead of the left. Please note that the
    value in the bucket used as the label is not included in the bucket,
    which it labels. For example, in the original series the
    bucket ``2000-01-01 00:03:00`` contains the value 3, but the summed
    value in the resampled bucket with the label ``2000-01-01 00:03:00``
    does not include 3 (if it did, the summed value would be 6, not 3).

    >>> series.resample('3min', label='right').sum()
    2000-01-01 00:03:00     3
    2000-01-01 00:06:00    12
    2000-01-01 00:09:00    21
    Freq: 3min, dtype: int64

    To include this value close the right side of the bin interval,
    as shown below.

    >>> series.resample('3min', label='right', closed='right').sum()
    2000-01-01 00:00:00     0
    2000-01-01 00:03:00     6
    2000-01-01 00:06:00    15
    2000-01-01 00:09:00    15
    Freq: 3min, dtype: int64

    Upsample the series into 30 second bins.

    >>> series.resample('30s').asfreq()[0:5]   # Select first 5 rows
    2000-01-01 00:00:00   0.0
    2000-01-01 00:00:30   NaN
    2000-01-01 00:01:00   1.0
    2000-01-01 00:01:30   NaN
    2000-01-01 00:02:00   2.0
    Freq: 30s, dtype: float64

    Upsample the series into 30 second bins and fill the ``NaN``
    values using the ``ffill`` method.

    >>> series.resample('30s').ffill()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    0
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    1
    2000-01-01 00:02:00    2
    Freq: 30s, dtype: int64

    Upsample the series into 30 second bins and fill the
    ``NaN`` values using the ``bfill`` method.

    >>> series.resample('30s').bfill()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    1
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    2
    2000-01-01 00:02:00    2
    Freq: 30s, dtype: int64

    Pass a custom function via ``apply``

    >>> def custom_resampler(arraylike):
    ...     return np.sum(arraylike) + 5
    ...
    >>> series.resample('3min').apply(custom_resampler)
    2000-01-01 00:00:00     8
    2000-01-01 00:03:00    17
    2000-01-01 00:06:00    26
    Freq: 3min, dtype: int64

    For DataFrame objects, the keyword `on` can be used to specify the
    column instead of the index for resampling.

    >>> d = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
    ...      'volume': [50, 60, 40, 100, 50, 100, 40, 50]}
    >>> df = pd.DataFrame(d)
    >>> df['week_starting'] = pd.date_range('01/01/2018',
    ...                                     periods=8,
    ...                                     freq='W')
    >>> df
       price  volume week_starting
    0     10      50    2018-01-07
    1     11      60    2018-01-14
    2      9      40    2018-01-21
    3     13     100    2018-01-28
    4     14      50    2018-02-04
    5     18     100    2018-02-11
    6     17      40    2018-02-18
    7     19      50    2018-02-25
    >>> df.resample('ME', on='week_starting').mean()
                   price  volume
    week_starting
    2018-01-31     10.75    62.5
    2018-02-28     17.00    60.0

    For a DataFrame with MultiIndex, the keyword `level` can be used to
    specify on which level the resampling needs to take place.

    >>> days = pd.date_range('1/1/2000', periods=4, freq='D')
    >>> d2 = {'price': [10, 11, 9, 13, 14, 18, 17, 19],
    ...       'volume': [50, 60, 40, 100, 50, 100, 40, 50]}
    >>> df2 = pd.DataFrame(
    ...     d2,
    ...     index=pd.MultiIndex.from_product(
    ...         [days, ['morning', 'afternoon']]
    ...     )
    ... )
    >>> df2
                          price  volume
    2000-01-01 morning       10      50
               afternoon     11      60
    2000-01-02 morning        9      40
               afternoon     13     100
    2000-01-03 morning       14      50
               afternoon     18     100
    2000-01-04 morning       17      40
               afternoon     19      50
    >>> df2.resample('D', level=0).sum()
                price  volume
    2000-01-01     21     110
    2000-01-02     22     140
    2000-01-03     32     150
    2000-01-04     36      90

    If you want to adjust the start of the bins based on a fixed timestamp:

    >>> start, end = '2000-10-01 23:30:00', '2000-10-02 00:30:00'
    >>> rng = pd.date_range(start, end, freq='7min')
    >>> ts = pd.Series(np.arange(len(rng)) * 3, index=rng)
    >>> ts
    2000-10-01 23:30:00     0
    2000-10-01 23:37:00     3
    2000-10-01 23:44:00     6
    2000-10-01 23:51:00     9
    2000-10-01 23:58:00    12
    2000-10-02 00:05:00    15
    2000-10-02 00:12:00    18
    2000-10-02 00:19:00    21
    2000-10-02 00:26:00    24
    Freq: 7min, dtype: int64

    >>> ts.resample('17min').sum()
    2000-10-01 23:14:00     0
    2000-10-01 23:31:00     9
    2000-10-01 23:48:00    21
    2000-10-02 00:05:00    54
    2000-10-02 00:22:00    24
    Freq: 17min, dtype: int64

    >>> ts.resample('17min', origin='epoch').sum()
    2000-10-01 23:18:00     0
    2000-10-01 23:35:00    18
    2000-10-01 23:52:00    27
    2000-10-02 00:09:00    39
    2000-10-02 00:26:00    24
    Freq: 17min, dtype: int64

    >>> ts.resample('17min', origin='2000-01-01').sum()
    2000-10-01 23:24:00     3
    2000-10-01 23:41:00    15
    2000-10-01 23:58:00    45
    2000-10-02 00:15:00    45
    Freq: 17min, dtype: int64

    If you want to adjust the start of the bins with an `offset` Timedelta, the two
    following lines are equivalent:

    >>> ts.resample('17min', origin='start').sum()
    2000-10-01 23:30:00     9
    2000-10-01 23:47:00    21
    2000-10-02 00:04:00    54
    2000-10-02 00:21:00    24
    Freq: 17min, dtype: int64

    >>> ts.resample('17min', offset='23h30min').sum()
    2000-10-01 23:30:00     9
    2000-10-01 23:47:00    21
    2000-10-02 00:04:00    54
    2000-10-02 00:21:00    24
    Freq: 17min, dtype: int64

    If you want to take the largest Timestamp as the end of the bins:

    >>> ts.resample('17min', origin='end').sum()
    2000-10-01 23:35:00     0
    2000-10-01 23:52:00    18
    2000-10-02 00:09:00    27
    2000-10-02 00:26:00    63
    Freq: 17min, dtype: int64

    In contrast with the `start_day`, you can use `end_day` to take the ceiling
    midnight of the largest Timestamp as the end of the bins and drop the bins
    not containing data:

    >>> ts.resample('17min', origin='end_day').sum()
    2000-10-01 23:38:00     3
    2000-10-01 23:55:00    15
    2000-10-02 00:12:00    45
    2000-10-02 00:29:00    45
    Freq: 17min, dtype: int64

In [225]:
df_daily = custom_resample(data,freq='D').dropna()

In [226]:
df_daily = apply_pivots(df_daily)

In [227]:
df_daily

,Open,High,Low,Close,Volume,Prev_High,Prev_Low,Prev_Close,PP,TC,BC,R1,R2,R3,S1,S2,S3
Datetime,,,,,,,,,,,,,,,,,
2020-07-03 00:15:00,67.85,68.00,65.10,65.60,3021321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-06 00:15:00,66.00,66.70,65.15,65.65,1937998,68.00,65.10,65.60,66.233333,67.116667,65.666667,67.366667,69.133333,70.266667,64.466667,63.333333,61.566667
2020-07-07 00:15:00,65.80,67.10,64.50,66.35,3933601,66.70,65.15,65.65,65.833333,66.266667,65.491667,66.516667,67.383333,68.066667,64.966667,64.283333,63.416667
2020-07-08 00:15:00,66.55,66.95,64.15,64.45,2792572,67.10,64.50,66.35,65.983333,66.541667,65.241667,67.466667,68.583333,70.066667,64.866667,63.383333,62.266667
2020-07-09 00:15:00,64.60,65.25,63.75,64.15,1433452,66.95,64.15,64.45,65.183333,66.066667,64.666667,66.216667,67.983333,69.016667,63.416667,62.383333,60.616667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-05 00:15:00,204.50,209.39,200.05,205.00,11553471,217.15,208.00,211.30,212.150000,214.650000,210.075000,216.300000,221.300000,225.450000,207.150000,203.000000,198.000000
2024-08-06 00:15:00,207.75,210.90,202.64,203.60,5492316,209.39,200.05,205.00,204.813333,207.101667,202.431667,209.576667,214.153333,218.916667,200.236667,195.473333,190.896667
2024-08-07 00:15:00,206.21,212.69,203.00,211.60,5824918,210.90,202.64,203.60,205.713333,208.306667,204.176667,208.786667,213.973333,217.046667,200.526667,197.453333,192.266667
2024-08-08 00:15:00,209.75,214.15,208.60,210.20,3563567,212.69,203.00,211.60,209.096667,210.893333,206.048333,215.193333,218.786667,224.883333,205.503333,199.406667,195.813333
2024-08-09 00:15:00,212.60,213.78,210.00,211.25,2230684,214.15,208.60,210.20,210.983333,212.566667,209.791667,213.366667,216.533333,218.916667,207.816667,205.433333,202.266667

In [228]:
data['Date'] = pd.to_datetime(data.index).date

In [229]:
data

                       Open    High     Low   Close  Volume        Date
Datetime
2020-07-03 09:15:00   67.85   68.00   67.45   67.45  223536  2020-07-03
2020-07-03 09:20:00   67.40   68.00   67.15   67.90  153437  2020-07-03
2020-07-03 09:25:00   67.95   68.00   67.40   67.60  135082  2020-07-03
2020-07-03 09:30:00   67.50   67.70   67.15   67.20   89835  2020-07-03
2020-07-03 09:35:00   67.30   67.40   66.50   66.65  166271  2020-07-03
...                     ...     ...     ...     ...     ...         ...
2024-08-09 15:05:00  212.53  212.55  212.37  212.55   14511  2024-08-09
2024-08-09 15:10:00  212.64  212.75  211.80  211.92   82129  2024-08-09
2024-08-09 15:15:00  211.83  211.89  211.00  211.53   61012  2024-08-09
2024-08-09 15:20:00  211.54  212.00  211.53  211.70   67673  2024-08-09
2024-08-09 15:25:00  211.70  211.70  210.80  211.25   52767  2024-08-09

[76121 rows x 6 columns]

In [230]:
df_15M['VWMA'] = df_15M.ta.vwma(length=10)

In [231]:
df_15M.dropna(inplace=True)

In [232]:
df_15M

                       Open    High     Low   Close  Volume        VWMA
Datetime
2020-07-03 11:30:00   66.30   66.60   66.30   66.45   48703   66.810771
2020-07-03 11:45:00   66.55   66.65   66.40   66.40   69892   66.471869
2020-07-03 12:00:00   66.35   66.60   66.30   66.50   66568   66.526839
2020-07-03 12:15:00   66.50   66.75   66.40   66.55   52905   66.451999
2020-07-03 12:30:00   66.55   66.70   66.25   66.40   60401   66.406065
...                     ...     ...     ...     ...     ...         ...
2024-08-09 14:15:00  213.15  213.36  212.21  212.61   50647  212.703230
2024-08-09 14:30:00  212.61  212.66  212.08  212.36   47337  212.658435
2024-08-09 14:45:00  212.36  212.90  212.23  212.84   67107  212.760714
2024-08-09 15:00:00  212.84  212.84  211.80  211.92  111266  212.662373
2024-08-09 15:15:00  211.83  212.00  210.80  211.25  181452  212.445126

[25344 rows x 6 columns]

In [233]:
data['VWMA_15M'] = df_15M['VWMA'].reindex(data.index,method ='ffill')

In [234]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 76121 entries, 2020-07-03 09:15:00 to 2024-08-09 15:25:00
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      76121 non-null  float64
 1   High      76121 non-null  float64
 2   Low       76121 non-null  float64
 3   Close     76121 non-null  float64
 4   Volume    76121 non-null  int64
 5   Date      76121 non-null  object
 6   VWMA_15M  76094 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.6+ MB

In [235]:
df_15M['RSI'] = ta.rsi(close =df_15M['Close'], length=21)

In [236]:
df_15M

,Open,High,Low,Close,Volume,VWMA,RSI
Datetime,,,,,,,
2020-07-03 11:30:00,66.30,66.60,66.30,66.45,48703,66.810771,NaN
2020-07-03 11:45:00,66.55,66.65,66.40,66.40,69892,66.471869,NaN
2020-07-03 12:00:00,66.35,66.60,66.30,66.50,66568,66.526839,NaN
2020-07-03 12:15:00,66.50,66.75,66.40,66.55,52905,66.451999,NaN
2020-07-03 12:30:00,66.55,66.70,66.25,66.40,60401,66.406065,NaN
...,...,...,...,...,...,...,...
2024-08-09 14:15:00,213.15,213.36,212.21,212.61,50647,212.703230,55.268355
2024-08-09 14:30:00,212.61,212.66,212.08,212.36,47337,212.658435,53.863330
2024-08-09 14:45:00,212.36,212.90,212.23,212.84,67107,212.760714,56.112582
2024-08-09 15:00:00,212.84,212.84,211.80,211.92,111266,212.662373,51.099084
2024-08-09 15:15:00,211.83,212.00,210.80,211.25,181452,212.445126,47.831190

In [237]:
df_15M['RSI_Signal'] = np.where((df_15M['RSI'] > 60) & (df_15M['RSI'].shift(1) < 60), -1,
                        np.where((df_15M['RSI'] < 40) & (df_15M['RSI'].shift(1) > 40), 1, 0))

In [238]:
df_15M[df_15M['RSI_Signal'] == 1]

,Open,High,Low,Close,Volume,VWMA,RSI,RSI_Signal
Datetime,,,,,,,,
2020-07-06 14:30:00,65.65,65.80,65.15,65.30,110453,65.781384,37.212613,1
2020-07-07 11:30:00,65.35,65.35,64.50,64.90,101828,65.989849,36.433564,1
2020-07-07 13:45:00,65.00,65.15,64.90,64.90,45714,64.961735,39.854147,1
2020-07-08 14:30:00,65.65,65.75,64.50,64.55,287551,65.468034,36.206341,1
2020-07-09 10:30:00,64.80,64.80,64.15,64.30,105411,64.641911,37.693988,1
...,...,...,...,...,...,...,...,...
2024-07-23 13:30:00,213.49,213.50,211.69,212.26,86234,212.460699,39.357522,1
2024-07-25 09:45:00,214.14,214.64,212.71,212.84,164966,214.508372,39.688252,1
2024-08-01 14:15:00,224.62,224.66,222.51,222.98,1094571,224.370107,36.675817,1
2024-08-05 14:00:00,207.00,207.33,204.59,204.75,200615,205.181141,39.037541,1
2024-08-06 14:30:00,204.12,204.36,202.64,202.91,211757,204.717636,39.206622,1

In [239]:
data['15M_RSI_Signal'] = df_15M['RSI_Signal'].reindex(data.index,method ='ffill').dropna()

In [240]:
data['VWMA_10'] = ta.vwma(data['Close'],volume=data['Volume'], length=10)
data['Supertrend'] = data.ta.supertrend(length=10, multiplier=4)['SUPERT_10_4.0']

In [242]:
df_daily['Date'] =  df_daily.index.date

In [243]:
df_daily

,Open,High,Low,Close,Volume,Prev_High,Prev_Low,Prev_Close,PP,TC,BC,R1,R2,R3,S1,S2,S3,Date
Datetime,,,,,,,,,,,,,,,,,,
2020-07-03 00:15:00,67.85,68.00,65.10,65.60,3021321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-03
2020-07-06 00:15:00,66.00,66.70,65.15,65.65,1937998,68.00,65.10,65.60,66.233333,67.116667,65.666667,67.366667,69.133333,70.266667,64.466667,63.333333,61.566667,2020-07-06
2020-07-07 00:15:00,65.80,67.10,64.50,66.35,3933601,66.70,65.15,65.65,65.833333,66.266667,65.491667,66.516667,67.383333,68.066667,64.966667,64.283333,63.416667,2020-07-07
2020-07-08 00:15:00,66.55,66.95,64.15,64.45,2792572,67.10,64.50,66.35,65.983333,66.541667,65.241667,67.466667,68.583333,70.066667,64.866667,63.383333,62.266667,2020-07-08
2020-07-09 00:15:00,64.60,65.25,63.75,64.15,1433452,66.95,64.15,64.45,65.183333,66.066667,64.666667,66.216667,67.983333,69.016667,63.416667,62.383333,60.616667,2020-07-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-05 00:15:00,204.50,209.39,200.05,205.00,11553471,217.15,208.00,211.30,212.150000,214.650000,210.075000,216.300000,221.300000,225.450000,207.150000,203.000000,198.000000,2024-08-05
2024-08-06 00:15:00,207.75,210.90,202.64,203.60,5492316,209.39,200.05,205.00,204.813333,207.101667,202.431667,209.576667,214.153333,218.916667,200.236667,195.473333,190.896667,2024-08-06
2024-08-07 00:15:00,206.21,212.69,203.00,211.60,5824918,210.90,202.64,203.60,205.713333,208.306667,204.176667,208.786667,213.973333,217.046667,200.526667,197.453333,192.266667,2024-08-07
2024-08-08 00:15:00,209.75,214.15,208.60,210.20,3563567,212.69,203.00,211.60,209.096667,210.893333,206.048333,215.193333,218.786667,224.883333,205.503333,199.406667,195.813333,2024-08-08
2024-08-09 00:15:00,212.60,213.78,210.00,211.25,2230684,214.15,208.60,210.20,210.983333,212.566667,209.791667,213.366667,216.533333,218.916667,207.816667,205.433333,202.266667,2024-08-09

In [244]:
data['Date']

Datetime
2020-07-03 09:15:00    2020-07-03
2020-07-03 09:20:00    2020-07-03
2020-07-03 09:25:00    2020-07-03
2020-07-03 09:30:00    2020-07-03
2020-07-03 09:35:00    2020-07-03
                          ...
2024-08-09 15:05:00    2024-08-09
2024-08-09 15:10:00    2024-08-09
2024-08-09 15:15:00    2024-08-09
2024-08-09 15:20:00    2024-08-09
2024-08-09 15:25:00    2024-08-09
Name: Date, Length: 76121, dtype: object

In [246]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'MergeHow' = 'inner', on: 'IndexLabel | AnyArrayLike | None' = None, left_on: 'IndexLabel | AnyArrayLike | None' = None, right_on: 'IndexLabel | AnyArrayLike | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool | None' = None, indicator: 'str | bool' = False, validate: 'str | None' = None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    .. warning::

        If both key columns contain rows where the key is a null value, those
        rows will be matched against each other. This is different from usual SQL
        join behaviour and can lead to unexpected results.

    Parameters
    ----------
    left : DataFrame or named Series
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.

        .. note::
            The `copy` keyword will change behavior in pandas 3.0.
            `Copy-on-Write
            <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
            will be enabled by default, which means that all methods with a
            `copy` keyword will use a lazy copy mechanism to defer the copy and
            ignore the `copy` keyword. The `copy` keyword will be removed in a
            future version of pandas.

            You can already get the future behavior and improvements through
            enabling copy on write ``pd.options.mode.copy_on_write = True``
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  bar        2  bar        6
    3  baz        3  baz        7
    4  foo        5  foo        5
    5  foo        5  foo        8

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  bar           2  bar            6
    3  baz           3  baz            7
    4  foo           5  foo            5
    5  foo           5  foo            8

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [247]:
data_with_pivot = pd.merge(data, df_daily[['Date', 'PP', 'TC', 'BC', 'R1', 'R2', 'R3', 'S1', 'S2', 'S3']], on='Date', how='left')

In [256]:
data_with_pivot[pd.isna(data_with_pivot['PP'])]['Date'].unique()

array([datetime.date(2020, 7, 3), datetime.date(2020, 11, 14),
       datetime.date(2021, 11, 4), datetime.date(2022, 10, 24),
       datetime.date(2023, 11, 12)], dtype=object)

In [257]:
df_daily[pd.isna(df_daily['PP'])]

,Open,High,Low,Close,Volume,Prev_High,Prev_Low,Prev_Close,PP,TC,BC,R1,R2,R3,S1,S2,S3,Date
Datetime,,,,,,,,,,,,,,,,,,
2020-07-03 00:15:00,67.85,68.0,65.1,65.6,3021321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-03